*{
    padding: 0;
    margin: 0;
}

.container{
    width: 90%;
    margin: 0px 5% 0px 5%;
    /* background-color: #292929; */
    /* z-index: 777; */
}
.font_nav_manu_main{
    font-family: 'Mitr', sans-serif;
    font-size: 15px;
}
/* โดยรวม full */
.manu_item1{
    background-color: #ffffff;
    margin-top: 14px;
    border-radius: 25px;
    padding: 14px;
    /* border: 1px solid black; */
    position: static;
}
.manu_item1_2:hover{
    background-color: #5c1b70;
    /*border-radius: 25px;*/
    color: #f1f1f1;
    padding: 5px 0px;
    transition-duration: 0.25s;

}
.manu_item1_2{
    transition-duration: 0.25s;

}
.manu_item1_3:hover{
    background-color: #5c1b70;
    border-radius: 25px;
    color: #f1f1f1;
}


/* โทรศัพท์ */
@media only screen and (max-width: 600px) {
    .manu_item1{
        position: fixed;
        width: 90%;
        box-shadow: 0em 1px 0px olive;
        z-index: 10;
        transition-timing-function: linear;
        left: 5%;
        height: 5%;
        padding: 0px;
    }

    .manu_item1_1_img{
        width: 100px;
        margin-bottom: 15px;
        left: 0px;
    }
    .manu_item1_1{
        text-align: left;
        font-family: 'Mitr', sans-serif;
        display: inline-block;
        width: 80%;
        float: left;
        margin-top: 1px;
        padding-left: 5%;
    }

    .manu_item1_2{
        font-family: 'Mitr', sans-serif;
        display:none;
    }
    .manu_item1_3{
        display: inline-block;
        list-style: none;
        text-align: center;
        min-width: 10%;
        margin-top: 2px;
        padding: 2px;
        float: left;
    }
    .dropdown-content {
        text-align: center;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        margin-left: -100px;
        margin-top: 0px;
        /* min-width: 30%; */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        transition-timing-function: linear;
    }
    .dropdown-content a {
        color: black;
        padding: 2px 0px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {
        background-color: #f1f1f1;
        transition-timing-function: linear;
    }

    .manu_item1_3:hover .dropdown-content {
        display: block;
    }

    .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: center;
        outline: none;
        /* font-size: 15px; */
        transition: 0.4s;
    }

    .active, .accordion:hover {
        background-color: #ccc; 
    }

    .panel {
        text-align: left;
        /* padding: 0 18px; */
        display: none;
        background-color: white;
        overflow: hidden;
    }

}
/* ไอแพด */
@media only screen and (min-width: 601px) and (max-width: 768px){
    .manu_item1{
        /* background-color: #ffffff; */
        position: fixed;
        min-width: 90%;
        box-shadow: 0em 1px 0px olive;
        z-index: 10;
        left: 5%;
        right: 0%;
        padding: 5px;
        transition-timing-function: linear;
    }

.manu_item1_1_img{
    width: 130px;
}

    .manu_item1_1{
        font-family: 'Mitr', sans-serif;
        text-align: center;
        display: inline-block;
        font-size: 10px;
        width: 8%;
        /* background-color: #947575; */
        float: left;
        margin-right: 70px;
    }

    .manu_item1_2{
        margin-left: 5px;
        margin-top: 8px;
        float: left;
        /* background-color: #812b2b; */
        font-family: 'Mitr', sans-serif;
        text-align: center;
        display: inline-block;
        font-size: 14px;
        min-width: 5%;
    }
    .manu_item1_3{
        display: none;
        
    }
    .dropdown-content {
        text-align: left;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        margin-left: 0px;
        margin-top: 5px;
        width: 300px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {background-color: #f1f1f1}

    .manu_item1_2:hover .dropdown-content {
        display: block;
    }
}
/* คอมปกติ */
@media only screen and (min-width: 769px) and (max-width: 1199px) {
    .manu_item1{
        /* background-color: #ffffff; */
        position: fixed;
        min-width: 90%;
        box-shadow: 0em 1px 0px olive;
        z-index: 10;
        padding: 7px;
        transition-timing-function: linear;
    }
    .manu_item1_1_img{
        width: 130px;
    }
    .manu_item1_1{
        /* background-color: #947575; */
        font-family: 'Mitr', sans-serif;
        text-align: center;
        display: inline-block;
        font-size: 14px;
        width: 17%;
        float: left;
    }

    .manu_item1_2{
        /* background-color: #944040; */
        font-family: 'Mitr', sans-serif;
        text-align: center;
        display: inline-block;
        font-size: 14px;
        min-width: 10%;
        float: left;
        margin: 7px 0px 0px 0px;
    }
    .manu_item1_3{
        display: none;
    }
    .dropdown-content {
        text-align: left;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        margin-left: 5px;
        margin-top: 5px;
        width: 300px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        font-size: 10px;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 12px;
    }
    .dropdown-content a:hover {background-color: #f1f1f1}

    .manu_item1_2:hover .dropdown-content {
        display: block;
    }
}
/* คอมจอใหญ่ */
@media only screen and (min-width: 1200px) {
    .manu_item1{
        /* background-color: olive; */
        position: fixed;
        width: 90%;
        box-shadow: 0em 1px 0px olive;
        left: 4%;
        right: 5%;
        z-index: 10;
        transition-timing-function: linear;
        position: absolute;
    }

    .manu_item1_1_img{
        width: 200px;
    }
    .manu_item1_1{
        padding: 0px 10px;
        font-family: 'Satisfy', cursive;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        width: 15.5%;
        transition: width 2s, height 4s;
        float: left;
        margin-right: 10px;
    }
    .manu_item1_2{
        float: left;
        margin-top: 13px;
        padding: 0px 0px 0px 0px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        min-width: 10%;
        font-family: 'Mitr', sans-serif;
    }
    .manu_item1_3{
        display: none;
    }
    .dropdown-content {
        text-align: left;
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        margin-left: 0px;
        margin-top: 5px;
        width: 300px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {background-color: #f1f1f1}

    .manu_item1_2:hover .dropdown-content {
        display: block;
        
    }

}


    
.collapsible {
    background-color: #ffffff;
    color: rgb(41, 41, 41);
    cursor: pointer;
    padding:5px 5px 10px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 13px;
  }
  .collapsible1 {
    /* background-color: #f1f1f1; */
    color: white;
    cursor: pointer;
    padding:5px 5px 10px 0px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 13px;
  }
  
  .active, .collapsible:hover {
    background-color: #ebe4ed;
  }
  
  .content_nav {
    padding: 0px 0px 0px 0px;
    display: none;
    overflow: hidden;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 15px;
    z-index: 99px;
  }


.content_nav a {
    padding: 0px 0px 0px 0px;
    display: none;
    overflow: hidden;
    background-color: #FFCCFF;
    color: rgb(0, 0, 0);
    font-size: 15px;
    z-index: 99px;
  }
  .content_nav:hover {
    padding: 0px 0px 0px 0px;
    display: none;
    overflow: hidden;
    background-color: #ebe4ed;
    color: #555;
    /* font-size: 15px; */
  }